<app-navbar></app-navbar>
<div class="bg-cover bg-center bg-fixed" style="background-image: url('https://t4.ftcdn.net/jpg/01/19/11/55/360_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg')">
    <section class="flex flex-col items-center  py-20 ">
        <div
          class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <div class="sm:mx-auto sm:w-full sm:max-w-md">
                <h2 class="mt-6 text-center text-white text-3xl font-extrabold ">
                    Reset Your Password
                </h2>
            
            </div>
            <!-- <div [ngClass]="{'success-message': successMessage, 'error-message': errorMessage}" class="message">
              {{ successMessage || errorMessage }}
            </div> -->
            
            <form class="space-y-4 md:space-y-6 my-6"  [formGroup]="forgotPasswordForm"(ngSubmit)="initializePasswordReset()" >
         
              <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter Valid Email</label>
                <input type="email" formControlName="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="example@gmail.com" required>
                
                <!-- <div *ngIf="logInUserForm.get('email')?.touched && logInUserForm.get('email')?.hasError('required')" class="text-red-500">Email is required</div>
                <div *ngIf="logInUserForm.get('email')?.touched && logInUserForm.get('email')?.hasError('email')" class="text-red-500">Not a valid email</div> -->
              </div>
                           
              <button type="submit" class="w-full text-white bg-blue-900 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Send</button>
            </form>
          </div>
        </div>
      </section>
    
</div>
<app-footer></app-footer>